body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.tete{ overflow: hidden; }
.dir { float: left; }
.gauche {width: 50%; }
.droite{
    text-align: right;
    float: none; width: auto;
}
.corp{
    font-size: 115%;
    text-align: justify;
    text-justify: inter-word;
}
